#from {
    border-spacing: 10px;
}

.row td {
    padding: 5px 20px;
}

.input-field {
    height: 35px;
    width: 200px;
    border-radius: 10px;
    border: none;
    padding: 0px 7px;
}

.input-field:focus {
    border-radius: 10px;
    border: none;
    outline: none;
}

.text-label {
    font-family: 'Lato', sans-serif;
    font-size: large;
}

#submitButton {
    background-color: #060B26;
    color: #FAFAFA;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
}

#submitButton:hover {
    background-color: #1A83FF;
}

.tc {
    display: flex;
    width: calc(100% + 240px);
    align-content: center;
}

#result-div {
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

.title-div {
    margin: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

#img.active {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 6px;
    border: none;
}